* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgba(71, 66, 95, 0.356);
}

.logo {
  width: 14%;
  height: auto;
  object-fit: cover;
  margin: 50px;
}

.imagen_sobre_nosotros {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

.texto, .texto2 {
  text-align: center;
  color: white;
}

.qr_whatsapp, .instagram, .whatsapp {
  margin-top: 30px;
}
.qr_whatsapp img, .instagram img, .whatsapp img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  image-orientation: from-image;
}

.productos {
  text-align: center;
  color: white;
  padding: 20px;
}
.productos .fila {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}
.productos .fila article {
  text-align: center;
  color: white;
  padding: 10px;
  width: 170px;
}
.productos .fila article img {
  width: 100%;
  height: auto;
}

.mercadopago, .visa, .mastercard {
  width: 40px;
  height: 15px;
  object-fit: cover;
}

.btn-primary {
  color: white;
  background-color: yellowgreen !important;
}
.btn-primary:hover {
  background-color: red !important;
}

#carouselExampleAutoplaying {
  width: 21%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}
#carouselExampleAutoplaying .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar {
  background-color: rgb(196, 196, 196) !important;
}
.navbar .nav-link:hover {
  color: #20d61a !important;
}

.SobreNosotros {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: space-between;
  gap: 0;
  padding-right: 1.5rem;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
  padding: 0;
}
header nav ul li a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}
header nav ul li a:hover {
  color: #20d61a;
}

footer {
  text-align: center;
  color: white;
  margin-top: 5rem;
  padding: 1rem 0;
  background-color: #333;
  color: white;
}
footer img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  padding: 15px;
  background-color: #f8f8f8;
  text-align: center;
  flex-wrap: wrap;
}
.contacto img {
  width: 150px;
  height: auto;
  object-fit: cover;
}
.contacto h3 {
  font-size: 20px;
  color: #333;
}

video {
  display: block;
  margin: auto;
  width: 80%;
}
@media (max-width: 768px) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  video {
    width: 100%;
    height: auto;
  }
}

.volver_a_home {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
}

@media (max-width: 768px) {
  .logo {
    width: 30%;
    height: auto;
    object-fit: cover;
    margin: 20px;
  }
  #carouselExampleAutoplaying {
    width: 100%;
  }
  .texto, .texto2 {
    font-size: 18px;
    padding: 5px;
  }
  .texto2 {
    top: 80px;
    font-size: 16px;
  }
  .fila {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  article {
    width: 100%;
  }
  .contacto {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
  .contacto img {
    width: 60px;
  }
  .contacto h3 {
    font-size: 16px;
    text-align: center;
  }
  .qr_whatsapp {
    display: none;
  }
  .navbar-collapse {
    justify-content: flex-end !important;
    text-align: right;
  }
  footer {
    font-size: 12px;
  }
}
@media (max-width: 480px) {
  .fila {
    grid-template-columns: 1fr !important;
  }
  .qr_whatsapp {
    display: none;
  }
  header nav ul {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .navbar-collapse {
    justify-content: flex-end !important;
    text-align: right;
  }
  footer {
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilos.css.map */
