//import
@import "../scss/variables.scss";
@import "../scss/mixin.scss";

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

// Body
body {
    background-color:$color-fondoPagina;
}

// Logo
.logo {
    @include responsive-img(14%,auto);
    margin: 50px;
}

// Imagen Sobre Nosotros
.imagen_sobre_nosotros {
    display: block;
    margin: 0 auto;
    @include responsive-img(600px,auto);
    max-width: 100%;
}

// Textos
.texto, .texto2 {
    @include text-style;
}

// Redes Sociales
.qr_whatsapp, .instagram, .whatsapp {
    margin-top: 30px;

    img {
        @include responsive-img(100px,100px);
        image-orientation: from-image;
    }
}

// Nesting
.productos {
   @include text-style(center);
    padding: 20px;

    .fila {
        display: grid;
        grid-template-columns: repeat(4, 1fr); //al estar en desktop las columnas son de 4
        gap: 20px;
        justify-items: center;

        article {
           @include text-style(center);
            padding: 10px;
            width: 170px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

// Medios de Pago
.mercadopago, .visa, .mastercard {
   @include responsive-img(40px,15px);
}

// estlos de color Botón Comprar
.btn-primary{
@include button-style($color-comprar,$color-comprarHover);
}

// Carrusel
#carouselExampleAutoplaying {
    @include responsive-img(21%,auto);
    margin: 0 auto;

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
//Nesting
// Navbar hamburguesa
.navbar {
    background-color: $color-menu-hamburguesa !important; // personaliza el color del menu

    .nav-link {
        &:hover {
            color: $color-hover !important; // cambia de color al tocar
        }
    }
}

// Sobre Nosotros
.SobreNosotros {
    background-color: black;
}

// Nesting
// Header
header {
    @include flex-center(space-between);
    padding-right: 1.5rem;

    nav ul {
        list-style: none;
        @include flex-center(row,2rem);
        padding: 0;

        li a {
            @include text-style(center,$color-text);
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;

            &:hover {
                color: $color-hover;
            }
        }
    }
}

// Footer
footer {
    @include text-style(center);
    margin-top: 5rem;
    padding: 1rem 0;
    background-color: $color-footer;
    color: $color-text;

    img {
      @include responsive-img(100px,auto);   // Ajuste para evitar cambios inesperados en el tamaño
    }
}

// Contacto
.contacto {
    @include flex-center(row,20px);
    padding: 15px;
    background-color: $color-contacto;
    text-align: center;
    flex-wrap: wrap;

    img {
        @include responsive-img(150px,auto);
    }

    h3 {
        font-size: 20px;
        color: $color-footer;
    }
}

// Estilos del video
video {
    display: block;
    margin: auto;
    width: 80%; // Tamaño predeterminado en desktop

    @include responsive-video(768px); // Para tablets
    @include responsive-video(480px); // Para móviles
}

// Botón Volver a Home
.volver_a_home {
    display: block;
    margin: 0 auto;
    @include text-style;
}

// Responsividad tablet 
@media (max-width: 768px) {
    .logo {
        @include responsive-img(30%,auto);
        margin: 20px;
    }

    #carouselExampleAutoplaying {
        width: 100%;
    }

    .texto, .texto2 {
        font-size: 18px;
        padding: 5px;
    }

    .texto2 {
        top: 80px;
        font-size: 16px;
    }

    .fila {
        grid-template-columns: repeat(2, 1fr) !important; // columnas de 2 
    }

    article {
        width: 100%;
    }

    .contacto {
        flex-direction: column;
        gap: 10px;
        padding: 15px;

        img {
            width: 60px;
        }

        h3 {
            font-size: 16px;
            text-align: center;
        }
    }

    .qr_whatsapp {
        display: none;
    }

    .navbar-collapse {
        justify-content: flex-end !important;
        text-align: right;
    }

    footer {
        font-size: 12px;
    }
}
//responsividad mobile
@media (max-width: 480px) {
    .fila {
        grid-template-columns: 1fr !important; // 1 sola columna
    }
    // saca de pantalla el qr de whatsapp al ser pantalla de celular
    .qr_whatsapp {
        display: none;
    }

    header nav ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .navbar-collapse {
        justify-content: flex-end !important;
        text-align: right;
    }

    footer {
        font-size: 12px; 
    }
}
