// Variables
$color-comprar: yellowgreen; // define color de boton de comprar.
$color-comprarHover: red; // hover del boton comprar.
$color-text: white; // color de texto.
$color-hover: #20d61a; // hover de menu hamburguesa.
$color-fondoPagina:rgba(71, 66, 95, 0.356); // fondo de pagina.
$color-menu-hamburguesa:rgb(196, 196, 196); //color menu hamburguesa.
$color-footer: #333; // color de pie de pagina.
$color-contacto: #f8f8f8; // color de fondo de los diferentes tipos de contacto.
