// Variables
$color-comprar: yellowgreen;
$color-comprarHover: red;
$color-text: white;
$color-hover: #20d61a;
$color-fondoPagina:rgba(71, 66, 95, 0.356);
$color-menu-hamburguesa:rgb(196, 196, 196);
$color-footer: #333;
$color-contacto: #f8f8f8;
